/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Colors
   ========================================================================== 

    Green:              #579E70;
    Light Green:        #81EAA7;
    White Green:        #C7EAD4;
    Light Grey:         #94AE9D;
    Dark Grey:          #222222;
    Action Color:       #6660AB; (purple)

*/

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    margin: 0px;
    padding: 0px;
}

a {
    color: #579E70;
    text-decoration: none;
}

a:visited {
    color: #94AE9D;
    text-decoration: none;
}

a:hover {
    color: #81EAA7;
    text-decoration: none;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    font-family: Helvetica "Helvetica Neue", "Helvetica Neue Light", "Helvetica Neue Medium";
    font-weight: 450;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
	width: 640px;
	max-width: 640px;
}

header {
    clear: both;
    padding-top: 16px;
    width: 640px;
	height: 191px;
	border-bottom: 1px solid #b2b2b2;
	background-color: #efefef;
	text-align: center;
	margin-bottom: 32px;
}

header h1,
header h1 a,
header h1 a:visited {
    font-family: Helvetica "Helvetica Neue", "Helvetica Neue Light", "Helvetica Neue Medium";
	font-weight: lighter;
    font-size: 32px;
    color: #222222;
    text-decoration: none;
    text-align: center;
	padding: 0;
	margin: 0;
	padding-bottom: 8px;
}

header h1 img {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
	height: 128px;
	width: 128px;
}

nav {
    display: none;
    clear: both;
    overflow: hidden;
    border-top: 1px solid #94AE9D;
    border-bottom: 1px solid #94AE9D;
    padding: 8px 0px;
}
    
nav li {
    list-style-type: none;
    float: left;
}

nav li a {
    padding: 4px 8px;
    color: #222;
    text-decoration: none;
}

nav li a:hover {
    color: #D3F000;
}

header li a:visited {
    color: #222;
}

nav li a.disabled {
    color: #dedede;
}

nav li a.active {
    color: #D3F000;
}

section {
    margin-left: 16px;
	margin-right: 16px;
	margin-bottom: 32px;
	font-weight: lighter;
	font-size: 20px;
}

.title {
	display:inline-block;
	height: 32px;
	color: #ffffff;
	background-color: #579E70;
	padding: 8px 16px;
	margin: 0px 8px 8px -16px;
	font-size: 24px;
}

#cotm p a {
	display: block;
	position: relative;
	font-weight: lighter;
	z-index: 100;
	background-color: #000000;
	opacity: 0.7;
	height: 32px;
	font-size: 20px;
	color: #ffffff;
	padding: 4px 8px 0px 8px;
	margin: -56px 0px 0px 0px;
}

#cotm img,
#cocktail img {
	clear: both;
	height: 235px;
	width: 608px;
}

#cocktail_list {
    clear: both;
}

#cocktail_list ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#cocktail_list li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
	width: 192px;
	margin-right: 16px;
    margin-bottom: 16px;
}
    
#cocktail_list li a {
    color: #222;
    text-decoration: none;
    display: block;
    float: left;
}

#cocktail_list li.third { margin-right: 0px; }

#cocktail_list li a img {
    width: 192px;
	height: 192px;
	margin-bottom: 8px;
	display: block;
}

section h4 {
	text-transform: uppercase;
	color: #579E70;
	font-weight: normal;
	padding: 0;
	margin: 0;
	font-size: 16px;
	margin-bottom: 8px;
	margin-top: 32px; 
}

#ingredientsList {
	margin: 0;
	padding: 0;
	margin-left: 32px;
}

#directions p {
	margin: 0;
	padding: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
    
    header {
        clear: both;
        padding: 0px;
        margin: 10px 10px;
        width: 280px;
        float: left;
        margin-right: 30px;
        border-right: 1px solid #dedede;
        overflow: hidden;
    }
    
    header h1,
    header h1 a,
    header h1 a:visited {
        font-weight: 500;
        font-size: 1.3em;
        color: #474747;
        text-decoration: none;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 0;
        display: block;
    }
    
    header h1 a:hover {
        color: #D3F000;
    }
    
    header h1 {
        border-bottom: 1px solid #dedede;
    }
    
    nav {
        clear: none;
        overflow: hidden;
        border-top: none;
        border-bottom: none;
        padding: 10px 0px;
    }
        
    nav li {
        list-style-type: none;
        float: none;
        display: block;
    }
        
    nav li a {
        padding: 5px 10px;
        display: block;
    }
    
    nav li a:hover {
        background-color: #D3F000;
        color: #fff;
    }
    
    section {
        clear: none;
        float: left;
        width: 45%;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}