/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Colors
   ========================================================================== 

    Green:              #579E70;
    Light Green:        #81EAA7;
    White Green:        #C7EAD4;
    Light Grey:         #94AE9D;
    Dark Grey:          #222222;
    Action Color:       #6660AB; (purple)

*/

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    margin: 0px;
    padding: 0px;
}

a {
    color: #579E70;
    text-decoration: none;
}

a:visited {
    color: #94AE9D;
    text-decoration: none;
}

a:hover {
    color: #81EAA7;
    text-decoration: none;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    clear: both;
    padding-top: 8px;
    width: 100%;
	height: 112px;
	border-bottom: 1px solid #b2b2b2;
	background-color: #efefef;
	text-align: center;
	margin-bottom: 32px;
}

header h1,
header h1 a,
header h1 a:hover,
header h1 a:focus,
header h1 a:visited {
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
    font-size: 22px;
    color: #222222;
    text-decoration: none;
    text-align: center;
	padding: 0;
	margin: 0;
	padding-bottom: 8px;
}

header h1 img {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
	height: 64px;
	width: 64px;
}

nav {
    display: none;
    border-bottom: 2px solid #b2b2b2;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align:center;
}

nav li {
    display:inline;
}

nav li a {
    display:inline-block;
    padding: 8px 16px;
}

nav li a:hover {
    color: #ffffff;
    background-color: #579E70;
}

nav li a.disabled,
nav li a.disabled:hover {
    color: #dedede;
    background-color: transparent;
}

nav li a.active {
    color: #579E70;
}

nav li a:visited {
    color: #222;
}

section {
    margin-left: 16px;
	margin-right: 16px;
	margin-bottom: 32px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 16px;
}

.title {
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
    text-transform: uppercase;
	display:inline-block;
	height: 28px;
	color: #ffffff;
	background-color: #579E70;
	padding: 8px 16px;
	margin: 0px 8px 8px -16px;
	font-size: 20px;
    transition:width 2s, height 2s;
    -webkit-transition:width 2s, height 2s, -webkit-transform 2s;
}

#cotm p a {
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	display: block;
	position: relative;
	z-index: 100;
	background: rgba(0, 0, 0, 0.4);
	height: 32px;
	font-size: 18px;
	color: #ffffff;
	padding: 4px 8px 0px 8px;
	margin: -52px 0px 0px 0px;
}

#cotm img,
#cocktail img {
	clear: both;
	width: 100%;
}

#cocktail_list {
    clear: both;
}

#cocktail_list ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#cocktail_list li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
	width: 136px;
	margin-right: 16px;
    margin-bottom: 16px;
}
    
#cocktail_list li a {
    color: #222;
    text-decoration: none;
    display: block;
    float: left;
}

#cocktail_list li.second { margin-right: 0px; }

#cocktail_list li a img {
    width: 136px;
	height: 136px;
	margin-bottom: 4px;
	display: block;
}

section h4 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
    text-transform: uppercase;
    color: #579E70;
	padding: 0;
	margin: 0;
	font-size: 20px;
	margin-bottom: 8px;
	margin-top: 32px; 
}

#ingredientsList {
	margin: 0;
	padding: 0;
	margin-left: 32px;
}

#directions p {
	margin: 0;
	padding: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 769px) 
{
    body {
        width: 1056px;
        margin: 0 auto;
        padding: 0;
        border-left: 2px solid #b2b2b2;
        border-right: 2px solid #b2b2b2;
        border-bottom: 2px solid #b2b2b2;
        overflow: scroll;
    }
    
    header {
        border-bottom: 2px solid #b2b2b2;
    }
    
    nav {
        display: block;
        margin-top: 2px;
    }
    
    nav li a {
        padding: 16px 32px;
    }
    
    section {
        clear: both;
    }
    
    #cotm,
    #cocktail {
        margin-top: 80px;
    }
    
    #custom_type {
        margin-top: 48px;
    }
    
    #cocktail_list li {
        width: 192px; 
    }
    
    #cocktail_list li a img {
        width: 192px;
        height: 192px;
    }
    
    #cocktail_list li.second { 
        margin-right: 16px; 
    }
    
    #cocktail_list li.fifth {
        margin-right: 0px;
    }
}


/* QUERIES FOR IPAD/TABLETPC  PORTRAIT AND LANDSSCAPE */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) 
{
    #cocktail_list li {
        width: 134px; 
    }
    
    #cocktail_list li a img {
        width: 134px;
        height: 134px;
    }
    
    #cocktail_list li.second { 
        margin-right: 16px; 
    }
    
    #cocktail_list li.fifth {
        margin-right: 0px;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) 
{
    #cocktail_list li {
        width: 134px; 
    }
    
    #cocktail_list li a img {
        width: 134px;
        height: 134px;
    }
    
    #cocktail_list li.second { 
        margin-right: 16px; 
    }
    
    #cocktail_list li.fifth {
        margin-right: 0px;
    }
}